.about {
  position: relative;
  scroll-margin-top: 60px;
  .strs {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 500px;
    height: auto;
    @media(max-width: $breakpoint768){
      width: 50%;
      height: auto;
    }
  }
  
  h2 {
    color: $brand;
    color: $brand;
    text-align: center;
    padding-top: 25px;
    font-size: 26px;
    font-size: $big;
    margin-bottom: 40px;
    line-height: 100%;
    font-size: 2.1em;
    color: $font;
    font-family: $brandFont;
    color: $brand;
    color: transparent;
    line-height: 150%;

    background-image: linear-gradient(
      to left,
      $brand,
      $font,
      #fdecf4,
      black,
      $brand
    );
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite alternate-reverse;
    background-size: 200%;
    -webkit-background-size: 200%;
    @keyframes animate {
      0% {
        background-position: 0 100%;
      }
      50% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 100%;
      }
    }
    @media (max-width: $breakpoint480) {
      font-size: $big;
    }
  }
  .sd {
    position: relative;
    box-shadow: 0 0 40px #0000005d;
    overflow: hidden;
    border-radius: 20px;
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    @media(max-width: $breakpoint768){
      backdrop-filter: blur(20.3px);
    -webkit-backdrop-filter: blur(20.3px);
    background-color: rgba(0, 0, 0, 0.137);
    }
  }
  p {
    font-family: $brandFont;
    font-size: 24px;
    color: $font;
    letter-spacing: 2px;
    line-height: 150%;
    padding: 1em 1em;
    font-weight: $slim;
    @media(max-width: $breakpoint768){
      font-size: .8em;
    }
    
    span {
      color: $brand;
      font-weight: $bold;
    }
    
    @keyframes quote {
      from {
        transform: translateY(-5px);
      }
    }
  }
  i {
    color: $brand;
    animation: quote 1s ease forwards infinite alternate;
  }
}
