.footer {
  width: 100%;
  height: 20vh;
  position: relative;
  padding-left: 10px;
  margin-bottom: 80px;
  margin-top: 250px;
  h3 {
    color: $font;
  }

  .logoMini {
    display: block;
    text-decoration: none;
    font-size: 3em;
    color: $brand;
    font-weight: bold;
    transition: all 0.4s;
    span {
      color: rgba(0, 0, 0, 0.76);
      font-style: italic;
    }
    &:hover {
      color: black;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .navfooter {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: $font;
    transition: all 0.4s;
    font-size: 18px;
    &:hover {
      color: $brand;
      padding-left: 5px;
    }
  }
  @media (max-width: 600px) {
    .footer ul {
      gap: 5px;
    }
  }
}
