.footer {
  display: flex;
  background-color: $brand;
  width: 100%;
  height: 30vh;
  position: relative;
  padding-bottom: 350px;
  border-radius: 25% 25% 0% 0;
  @media(max-width: $breakpoint768){
    padding-bottom: 360px;
    
  }
  
  h3 {
    color: black;
    font-family: $brandFont;
    @media(max-width: $breakpoint768){
      margin-top: 30px;
    }

  }

  .logoMini {
    display: block;
    text-decoration: none;
    font-size: 3em;
    font-family: $brandFont;
    color: black;
    font-weight: bold;
    transition: all 0.4s;
    @media(max-width: $breakpoint768){
      font-size: 2em;
    }
  }
  .socialIcon{
    color: black;
  }
  .socialItems{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: $bold;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    color: black;
  }
  .navFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navfooter {
    list-style: none;
    padding: 0;
    gap: 10px;
    text-decoration: none;
    color: black;
    transition:  0.4s;
    font-size: 18px;
    font-family: $brandFont;
      &:hover {
        color: $font;
        padding-left: 5px;
      }
  }
  @media (max-width: 600px) {
    .footer ul {
      gap: 5px;
    }
  }
}
